BEGIN:VCALENDAR
PRODID:-//linenoise//Calendar 1.0//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:Linenoise Sets
X-WR-TIMEZONE:America/Los_Angeles
<% items.select{|i| i.identifier =~ /\/calendar\/.+/}.sort{|a,b| a.attributes[:date] <=> b.attributes[:date]}.each do |event| %>BEGIN:VEVENT
DTSTART;VALUE=DATE:<%= event.attributes[:date].strftime("%Y%m%d") %>
DTEND;VALUE=DATE:<%= (event.attributes[:date] + 1).strftime("%Y%m%d") %>
DTSTAMP:<%= event.attributes[:date].strftime("%Y%m%d") %>T124028Z
UID:<%= event.attributes[:date].strftime("%Y%m%d") %>@linenoise.io
DESCRIPTION:Linenoise playing <%= event.attributes[:genre] %> at <%= event.attributes[:event] %>
LOCATION:<%= event.attributes[:place] %>
SEQUENCE:0
STATUS:CONFIRMED
SUMMARY:Linenoise playing at <%= event.attributes[:event] %>
TRANSP:TRANSPARENT
END:VEVENT
<% end %>END:VCALENDAR