<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" version="2.0">
	<channel>
		<title>Linenoise</title>
		<link>http://linenoise.io/</link>
		<image>http://linenoise.io/images/logo_round.png</image>
		<description>Linenoise (Danne Stayskal) is a synaesthetic DJ. She sees what she hears and plays what looks good. Linenoise.io is where she publishes her sets: ambient, classical, downtempo, experimental, house, and techno. Charting regularly in many genres, she brings the style of someone who sees music differently.</description>
		<language>en-us</language>

		<managingEditor>danne@linenoise.io (Linenoise)</managingEditor>
		<webMaster>danne@linenoise.io (Linenoise)</webMaster>
		<itunes:author>Linenoise</itunes:author>
		<itunes:email>danne@stayskal.com</itunes:email>
		<itunes:explicit>no</itunes:explicit>
		<itunes:category text="Music" />

		<lastBuildDate><%= Time.now.rfc2822 %></lastBuildDate>
		<ttl>60</ttl>

		<generator>http://github.com/linenoise/io/</generator>
		<copyright></copyright>

		<% items.select{|i| i.identifier =~ /\/sets\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}[0..39].each do |set| %>
			<item>
				<title><%= set.attributes[:title] %></title>
				<link>http://linenoise.io<%= set.identifier %></link>
				<guid>http://linenoise.io<%= set.identifier %></guid>
				<description><%= CGI.escapeHTML("#{set.attributes[:description]}<p><a href=\"http://linenoise.io/#{set.identifier}\">Listen to the set&hellip;</a></p>") %></description>
				<itunes:summary><%= CGI.escapeHTML("#{set.attributes[:description]}") %></itunes:summary>
				<itunes:explicit>no</itunes:explicit>

				<enclosure url="<%= set.attributes[:download] %>" length="<%= set.attributes[:file_size_bytes] %>" type="audio/x-mp3"/>

				<pubDate><%= Time.parse(set.attributes[:date].to_s).rfc2822 %></pubDate>
			</item>
		<% end %>
	</channel>
</rss>
