---
title: Linenoise.io
---
<h2>Upcoming sets</h2>

<table>
<!-- <tr><td>__DATE__</td><td><a href="__LINK__">__EVENT_NAME__</a></td><td>__PLACE__</td></tr> -->
<tr><td>11/12/2016</td><td>Tautology Decompression</td><td>Sammamish, WA</td></tr>
<tr><td>11/19/2016</td><td>Opening for <a href="https://erothyme.bandcamp.com/">Erothyme</a></td><td>Seattle, WA</td></tr>
<tr><td>11/26/2016</td><td><a href="https://www.facebook.com/events/1213641445346116/">The Leftovers</a></td><td>MOKEDO, Seattle, WA</td></tr>
<tr><td>12/10/2016</td><td><a href="https://www.facebook.com/events/185767518534533/">Heliopause</a></td><td>Seattle, WA</td></tr>
<tr><td>12/31/2016</td><td>New Year's Eve Cabin Event</td><td>Orcas Island, WA</td></tr>
</table>

<h2>Past sets</h2>
<% items.select{|i| i.identifier =~ /\/sets\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}.each do |set| %>

  <div class="set">
    <div class="one-third column">
      <h3><%= set.attributes[:title] %></h3>
      <p><em>Released on <%= set.attributes[:date] %></em></p>
      <p>Genres: <strong><%= set.attributes[:genres] %></strong></p>
      <%= set.attributes[:description] %>
      <p><a class="button" href="<%= set.attributes[:download] %>">Download this set</a></p>
    </div>
    <div class='two-thirds column' style="align: left; margin-bottom: 0px;">
      <%= set.attributes[:embed] %>
    </div>
  </div>

<% end %>
