---
---
<!-- <h2>Upcoming sets</h2>

<aside><a href="/calendar/">Calendar feed</a></aside>

<table>
<% items.select{|i| i.identifier =~ /\/calendar\/.+/}.sort{|a,b| a.attributes[:date] <=> b.attributes[:date]}.each do |event| %>
  <tr>
    <th><%= event.attributes[:event] %></th>
    <td><%= event.attributes[:date] %></td>
    <td><%= event.attributes[:genre] %></td>
    <td><%= event.attributes[:place] %></td>
    <td><% if event.attributes[:notes] %><%= event.attributes[:notes] %><% end %></td>
  </tr>
<% end %>
</table> -->

<h2>Set recordings</h2>
<aside>Podcast feeds: <a href="/feed/">RSS</a>&nbsp;&middot;&nbsp;<a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ij3szo5cunhxu3nyd2yobu32et4?t%3DLinenoise%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16">Google Play</a>
  &nbsp;&middot;&nbsp;
  <a href="https://itunes.apple.com/us/podcast/linenoise/id1249864429 ">Apple iTunes</a></aside>

<% items.select{|i| i.identifier =~ /\/sets\/.+/}.sort{|a,b| b.attributes[:date] <=> a.attributes[:date]}.each do |set| %>

  <%= render '/_tile.html', :set => set %>

<% end %>
