  <footer class="16 columns clearfix">


    <aside class="three columns vcard" id="footer_logo_before">
      <img src="/images/profile.png" alt="linenoise" class="small alignleft"/>
    </aside>

    <aside class="ten columns vcard">

      <h2>linenoise.io - music that's also fun to watch</h2>

      <p>This site is open source. Its source code <a href="http://github.com/linenoise/io">is available on github</a>.</p>

      <p>
        <a href="/feed/">RSS feed</a>
        &nbsp;&middot;&nbsp;
        <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Ij3szo5cunhxu3nyd2yobu32et4?t%3DLinenoise%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16">Google Play Podcast</a>
        &nbsp;&middot;&nbsp;
        <a href="https://itunes.apple.com/us/podcast/linenoise/id1249864429 ">Apple iTunes Podcast</a>
      </p>

    </aside>

    <aside class="three columns vcard" id="footer_logo_after">
      <img src="/images/logo_round.png" alt="linenoise.io" class="small alignright"/>
    </aside> 
    <!-- <a rel="me" href="https://hachyderm.io/@danne">Mastodon</a> -->

  </footer>

  <div style="margin: 20px">
    <img src="/images/footer.png" style="width: 100%; border-radius: 5px;">
  </div>

