  <footer class="clearfix">

    <aside class="danne">
      <p><strong>Danne is not accepting performance bookings at this time.</strong></p>

<!--       <p><strong>Linenoise (<a href="http://danne.stayskal.com/">Danne Stayskal</a>) is synaesthetic&mdash;she <a href="http://danne.stayskal.com/writing/mutant_superpowers/index.html">sees what she hears</a> and plays what looks good.</strong></p>

      <p>She brings her decades of classical training to her love of electronic music, performing around Cascadia and regularly at Burning Man. Her name comes from the phone phreaker communities in Texas in 1994. She was known for her noisy phone lines, and the name stuck with her. As a founding member of the <a href="http://tautology.io/">Tautology</a> arts collective, she builds on her passions for math and science to keep new music flowing through the Seattle and Portland tech sectors, music festivals, and warehouse parties.</p>

      <p>She has played alongside and opened for Filastine, bvdub, Boreal Taiga, Luke Mandala, Archivist, Ovoid, Erothyme, Phidelity, Bodicypha, KFO, Madly in Dub, Leave Trace, DJ Explorateur, WD4D, Eugene Fauntleroy, Orqid, Morgan Sorne, Michael Manahan, Dane Garfield Wilson, Neural Net, Sharlese Metcalf, Jules O'Keefe, Derrick Deep, Olivia Bee, Emma Staarbird, Nancy Dru, Dave Pezzner, Manos, DJ Care, Desert Dwellers, Synchronometry, Kaminanda, Yaima, Hanssen, SuperK, LineRiderand many others.</p>

      <p>Her sets regularly make the charts globally on Mixcloud in electronica, techno, downtempo, and ambient. She is also a regular on a few radio shows, including <a href="http://greimusic.com/spoondrift">Spoondrift</a> and <a href="https://spinspin.wtf/">SPiN SPiN</a>, as well as pirate radio stations scattered around the country.</p>

      <p><strong>Through many genres, she brings the style of someone who sees music differently.</strong></p>
 -->		</aside>

    <aside class="one-third vcard column" id="footer_logo_before">
      <img src="/images/logo_round.png" alt="Linenoise" style="height: 200px; width: 200px; padding-bottom: 30px;"/>
    </aside>

    <aside class="two-thirds column">
				<p>This site is open source; its source code <a href="http://github.com/linenoise/io">is available on github</a>.</p>
				<p>Based in Seattle, Washington and Black Rock City, Nevada</p>
      <p><a href="mailto:danne@stayskal.com">danne@stayskal.com</a></p>
    </aside>

    <aside class="contact one-third column">
      <a href="https://www.facebook.com/linenoise.io/" rel="me" style="float:left; padding-right: 4px;"><img src="/images/icons/facebook.png" alt="Facebok">
      <a href="https://twitter.com/linenoise_io" rel="me" style="float:left; padding-right: 4px;"><img src="/images/icons/twitter.png" alt="Twitter">
      <a href="http://linenoise.io/feed/" style="float:left; padding-right: 4px;"><img src="/images/icons/feed.png" alt="RSS" /></a>
    </aside>

    <aside class="one-third vcard column" id="footer_logo_after" style="display:none">
      <img src="/images/logo_round.png" alt="Linenoise" style="height: 200px; width: 200px; padding-bottom: 30px;"/>
    </aside>

  </footer>
