  <footer class="clearfix">


    <aside class="one-third vcard column" id="footer_logo_before">
      <img src="/images/logo_round.png" alt="Linenoise" style="height: 200px; width: 200px; padding-bottom: 30px;"/>
    </aside>

    <aside class="two-thirds column">
      <p>Linenoise (<a href="http://danne.stayskal.com/">Danne Stayskal</a>) is a synaesthetic DJ&mdash;she sees everything she hears and she plays what looks good. More on <a href="http://danne.stayskal.com/writing/mutant_superpowers/index.html">her version of synaesthesia is on her site</a>.</p>

      <p>She combines her classical training with her love of electronic music, performing around Cascadia, Black Rock City, and pirate radio stations scattered around the globe.</p>
      
      <p>She has played alongside and opened for Filastine, bvdub, Boreal Taiga, Luke Mandala, Archivist, Ovoid, Erothyme, Phidelity, Bodicypha, Madly in Dub, Leave Trace, Explorateur, WD4D, Eugene Fauntleroy, Orqid, Morgan Sorne, Michael Manahan, Dane Garfield Wilson, Neural Net, Sharlese Metcalf, Jules O'Keefe, Derrick Deep, Olivia Bee, Emma Staarbird, Nancy Dru, Dave Pezzner, Manos, DJ Care, Desert Dwellers, Synchronometry, Kaminanda, Yaima, Hanssen, SuperK, LineRider, and many others.</p>

      <p>This site is open source; its source code <a href="http://github.com/linenoise/io">is available on github</a>.</p>
      <p>Contact her at <a href="mailto:danne@stayskal.com">danne@stayskal.com</a>.</p>
    </aside>

    <aside class="one-third vcard column" id="footer_logo_after" style="display:none">
      <img src="/images/logo_round.png" alt="Linenoise" style="height: 200px; width: 200px; padding-bottom: 30px;"/>
    </aside>

  </footer>
