<div class="eight columns">
	<div class="<%= set.attributes[:mood] %> set tile">
	  <a href="<%= set.identifier %>">
		<img class="small alignleft" src="/images/art/<%= set.attributes[:title] %> 1.png" />
	  </a>

	  <h3><a href="<%= set.identifier %>"><%= set.attributes[:title] %></a></h3>
	  
	  <%= render '/_description.html', :set => set %>
	  
	  <div class="listen">
		<a class="button" href="<%= set.attributes[:download] %>">Download</a>
		<a class="button" href="<%= set.identifier %>">Stream</a>
	  </div>
	
	</div>
  </div>
