<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
  <%= render '/_html_head' %>
  </head>
  <body>
    <div class="container">
      <%= render '/_header' %>
  
      <div class="clearfix">
  	    <div class="full set <%= item.attributes[:mood] %>">
  	      <h1><%= item.attributes[:title] %></h1>

          <table>
            <tr>
              <th>Mood</th>
              <td><%= item.attributes[:mood] %></td>
            </tr>
            <tr>
              <th>Genres</th>
              <td><%= item.attributes[:genres] %></td>
            </tr>
            <tr>
              <th>Length</th>
              <td><%= item.attributes[:time] %></td>
            </tr>
            <tr>
              <th>Released</th>
              <td><%= item.attributes[:date] %></td>
            </tr>
          </table>

  	      <p>
  	      	<%= item.attributes[:description] %>
  	      </p>

    		  <div style="margin-left: 10px;">
    		  	<a class="button" href="<%= item.attributes[:download] %>">Download this set</a><br />
    		  </div>

          <% unless item.attributes[:tracklist].nil? then %>
          	<h2>Tracklist</h2>
          	<pre><%= item.attributes[:tracklist] %></pre>
          <% end %>

          <h2>Other sets</h2>
          
          <p>You might also like my other <strong><%= item.attributes[:mood] %></strong> sets:</p>

          <table>
          <% items.select{|i| i.identifier =~ /\/sets\/.+/}.sort{|a,b| b.attributes[:title] <=> a.attributes[:title]}.keep_if{|set| (set.attributes[:mood] == item.attributes[:mood]) && (set.identifier != item.identifier)}.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |set| %>
            <tr>
              <th><a href="<%= set.identifier %>"><%= set.attributes[:title] %></a></th>
              <td><%= set.attributes[:time] %></td>
              <td><%= set.attributes[:genres] %></td>
            </tr>
          <% end %>
          </table>

  	    </div>
      </div>
      <%= render '/_footer' %>
    </div>
  </body>
</html>
