<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
  <%= render '/_html_head' %>
  </head>
  <body>
    <div class="container">
      <%= render '/_header' %>

      <div class="clearfix nine columns">
  	    <div class="full set <%= item.attributes[:mood] %>">
  	      <h1><%= item.attributes[:title] %></h1>

          <p>
            <%= render '_description', :set => item %> played on <%= item.attributes[:date] %>.
          </p>

  	      <p>
  	      	<%= item.attributes[:description] %>
  	      </p>

          <h2>Download</h2>
          <div style="margin-left: 10px;margin-bottom: 0px;">
            <a class="button" href="<%= item.attributes[:download] %>">Download this set</a><br />
          </div>

          <h2>Stream</h2>
          <audio controls>
            <source src="<%= item.attributes[:download] %>" type="audio/mpeg">
          </audio> 

          <% unless item.attributes[:tracklist].nil? then %>
          	<h2>Tracklist</h2>
          	<pre><%= item.attributes[:tracklist] %></pre>
          <% end %>

  	    </div>
      </div>

      <div class="clearfix seven columns">
        <img class="big" src="/images/art/<%= item.attributes[:title] %> 1.png" />
      </div>
    </div>
    <div class="container">

      <div class="clearfix sixteen columns">
        <h2 style="border-bottom-color: #DDD; margin-left: 10px; margin-bottom: 1em">Her other <%= item.attributes[:mood] %> sets</h2>
      </div>
        
      <% items.select{|i| i.identifier =~ /\/sets\/.+/}.sort{|a,b| b.attributes[:title] <=> a.attributes[:title]}.keep_if{|set| (set.attributes[:mood] == item.attributes[:mood]) && (set.identifier != item.identifier)}.sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}.each do |set| %>
      <%= render '_tile', :set => set %>
      <% end %>

      <%= render '/_footer' %>
    </div>
  </body>
</html>
